//Imagenes

.container{
    text-align: left;
}

.rcontainer{
    text-align: right;

}

#logohome{
    width: 64px;
    height: 64px;
}
.img1{
    width: 366px;
    height: auto;

}

.img2{
    width: 366px;
    height: auto;
}

/* Ajustes en los emblemas */
.housecrest{
    width: 40%;
    height: auto;
}

.centrarCaja {
    display: flex;
    align-items: center;
}
/* Fin Ajustes en los emblemas */

.animate__fadeIn{
    animation-duration: 2s;
}

